.footer {
  width: 100%;
  border-top: 1px solid #010101;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.footerLink {
  font-weight: lighter;
  margin: auto;
  margin-bottom: 2rem;
}

.logo {
  height: 3em;
  margin: 5px;
}
